﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="Basemap.aspx.vb" Inherits="Tlokwe.Basemap" %>
<asp:Content ID="Content1" ContentPlaceHolderID="headerContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron" style="text-align:center">
        <iframe id="mapFrame" runat="server"  width="1050" height="1100" src="Tlokwe_PotchGIS/index.html"></iframe>
    </div>
</asp:Content>
