﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="Desktop.aspx.vb" Inherits="Tlokwe.Desktop" %>
<asp:Content ID="Content1" ContentPlaceHolderID="headerContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron">
        <h2>Desktop</h2>
        <ul>
            <li>Download the intructions to connect to the GIS database using Desktop GIS Software (Arcview).</li>
            <li>What can be done with the Desktop Software.</li>
        </ul>
    </div>
</asp:Content>
