﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="Dolomitemap.aspx.vb" Inherits="Tlokwe.Dolomitemap" %>
<asp:Content ID="Content1" ContentPlaceHolderID="headerContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
     <div class="jumbotron" style="text-align:center">
        <iframe  width="1050" height="1100""  src="TlokweDolomite/index.html"></iframe>
    </div>
</asp:Content>
