﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="GisDev.aspx.vb" Inherits="Tlokwe.GisDev" %>
<asp:Content ID="Content1" ContentPlaceHolderID="headerContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="jumbotron">
        <h3 style="text-align:center">GIS Development</h3>
        <a href="Docs/Annual Plan0607ver4f_revised.xls"><ul><li>Annual Plan</li></ul></a>
    </div>
</asp:Content>
