﻿<%@ Master Language="VB" AutoEventWireup="true" CodeBehind="Site.master.vb" Inherits="Tlokwe.SiteMaster" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<%@ Import Namespace="Merafong" %>
<%@ Import Namespace="Microsoft.AspNet.Identity" %>
<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tlokwe</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <asp:ContentPlaceHolder runat="server" ID="headerContent">

    </asp:ContentPlaceHolder>

</head>
<body>
    <form class="form-horizontal" runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="images/tlokwe2.jpg" style="margin-top:20px;margin-bottom:20px;">
                </div>
                <div class="navbar-header">
                   <telerik:RadMenu ID="RadMenu1" runat="server" Skin="Silk">
                        <Items>
                            <telerik:RadMenuItem Text="Home" NavigateUrl="Default.aspx" />
                            <telerik:RadMenuItem IsSeparator="true" />
                            <telerik:RadMenuItem Text="GIS Program">
                                <GroupSettings Width="200px" Height="40px" />
                                <Items>
                                    <telerik:RadMenuItem Text="GIS Development" NavigateUrl="GisDev.aspx"></telerik:RadMenuItem>
                                </Items>
                            </telerik:RadMenuItem>
                            <telerik:RadMenuItem IsSeparator="true" />
                            <telerik:RadMenuItem Text="Muncipal GIS">
                                <GroupSettings Width="200px" Height="70px" />
                                <Items>
                                    <telerik:RadMenuItem Text="Intranet"></telerik:RadMenuItem>
                                    <telerik:RadMenuItem Text="Desktop" NavigateUrl="Desktop.aspx"></telerik:RadMenuItem>
                                </Items>
                            </telerik:RadMenuItem>
                            <telerik:RadMenuItem IsSeparator="true" />
                            <telerik:RadMenuItem Text="Departmental GIS">
                                <GroupSettings Width="200px" Height="70px" />
                                <Items>
                                    <telerik:RadMenuItem Text="GIS Meetings" NavigateUrl="GisMeetings.aspx"></telerik:RadMenuItem>
                                    <telerik:RadMenuItem Text="General GIS Info"></telerik:RadMenuItem>
                                </Items>
                            </telerik:RadMenuItem>
                            <telerik:RadMenuItem Text="Quick Search" >
                                <GroupSettings Width="200px" Height="130px" />
                                <Items>
                                    <telerik:RadMenuItem Text="Erf Number" NavigateUrl="Search.aspx?page=erfNumber" EnableImageSprite="true" CssClass="icon-chair"></telerik:RadMenuItem>
                                    <telerik:RadMenuItem Text="Street Address" NavigateUrl="Search.aspx?page=streetAddress" EnableImageSprite="true" CssClass="icon-sofa"></telerik:RadMenuItem>
                                    <telerik:RadMenuItem Text="Count Erven" NavigateUrl="Search.aspx?page=erven" EnableImageSprite="true" CssClass="icon-table"></telerik:RadMenuItem>
                                    <telerik:RadMenuItem Text="Arrears" NavigateUrl="Search.aspx?page=Arrears" EnableImageSprite="true" CssClass="icon-table"></telerik:RadMenuItem>
                                </Items>                            
                            </telerik:RadMenuItem>                                                        
                        </Items>
                    </telerik:RadMenu>     
                </div>
            </div>             
        </div>
        <div class="container body-content">            
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
                   
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - Giscoe</p>
            </footer>
        </div>
    </form>
</body>
</html>
